<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>app</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundleAlternateIcons</key>
      <dict>
        <key>0</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>0-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>1</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>1-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>2</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>2-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
      </dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon</string>
        </array>
      </dict>
    </dict>
    <key>CFBundleIcons~ipad</key>
    <dict>
      <key>CFBundleAlternateIcons</key>
      <dict>
        <key>0</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>0-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>1</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>1-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
        <key>2</key>
        <dict>
          <key>CFBundleIconFiles</key>
          <array>
            <string>2-Icon-60x60</string>
          </array>
          <key>UIPrerenderedIcon</key>
          <false/>
        </dict>
      </dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon</string>
        </array>
      </dict>
    </dict>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>com.bacon.app</string>
        </array>
      </dict>
    </array>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
      <key>NSExceptionDomains</key>
      <dict>
        <key>localhost</key>
        <dict>
          <key>NSExceptionAllowsInsecureHTTPLoads</key>
          <true/>
        </dict>
      </dict>
    </dict>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>Allow $(PRODUCT_NAME) to connect to bluetooth devices</string>
    <key>NSBonjourServices</key>
    <array>
      <string>_googlecast._tcp</string>
      <string>_CC1AD845._googlecast._tcp</string>
    </array>
    <key>NSCameraUsageDescription</key>
    <string>Allow $(PRODUCT_NAME) to access your camera</string>
    <key>NSLocalNetworkUsageDescription</key>
    <string>${PRODUCT_NAME} uses the local network to discover Cast-enabled devices on your WiFi network</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Allow $(PRODUCT_NAME) to access your microphone</string>
    <key>UIBackgroundModes</key>
    <array>
      <string>voip</string>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>SplashScreen</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>armv7</string>
    </array>
    <key>UIRequiresFullScreen</key>
    <true/>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
    </array>
    <key>UIUserInterfaceStyle</key>
    <string>Light</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
  </dict>
</plist>