name: Test Packages
on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: ["18"]
    name: Build with Node ${{ matrix.node }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - run: yarn install --frozen-lockfile --check-files
      - run: yarn lerna run prepare --stream
      - uses: actions/cache@v2
        with:
          path: "*"
          key: v2-${{ github.sha }}-${{ matrix.node }}
  test:
    runs-on: ubuntu-latest
    needs: build
    strategy:
      fail-fast: false
      matrix:
        node: ["18"]
        package: [
            # Manually add packages here
            detox,
            ffmpeg-kit-react-native,
            ios-stickers,
            react-native-blob-util,
            react-native-branch,
            react-native-siri-shortcut,
            react-native-google-cast,
            react-native-pdf,
          ]
    name: Test ${{ matrix.package }} on Node ${{ matrix.node }}
    steps:
      - uses: actions/cache@v2
        with:
          path: "*"
          key: v2-${{ github.sha }}-${{ matrix.node }}
      - name: Set up Node
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - name: Lint ${{ matrix.package }}
        run: yarn lint --max-warnings 0
        working-directory: packages/${{ matrix.package }}
      - name: Test ${{ matrix.package }}
        run: yarn test
        working-directory: packages/${{ matrix.package }}
        env:
          CI: true
          EXPO_DEBUG: true
