name: Test Packages
on:
  push:
    branches: [master]
  pull_request:
    types: [opened, synchronize]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: ["16", "17"]
    name: Build with Node ${{ matrix.node }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1
      - name: Setup node
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - run: yarn install --frozen-lockfile --check-files
      - run: yarn lerna run prepare --stream
      - uses: actions/cache@v2
        with:
          path: "*"
          key: v2-${{ github.sha }}-${{ matrix.node }}
  test:
    runs-on: ubuntu-latest
    needs: build
    strategy:
      fail-fast: false
      matrix:
        node: ["16", "17"]
        package: [
            # Manually add packages here
            detox,
            react-native-ble-plx,
            # react-native-quick-actions,
          ]
    name: Test ${{ matrix.package }} on Node ${{ matrix.node }}
    steps:
      - uses: actions/cache@v2
        with:
          path: "*"
          key: v2-${{ github.sha }}-${{ matrix.node }}
      - name: Set up Node
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - name: Test ${{ matrix.package }}
        run: cd packages/${{ matrix.package }} && yarn test
        env:
          CI: true
          EXPO_DEBUG: true
